{% load static%}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>iPortfolio Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assests2/vendor/aos/aos.css" rel="stylesheet'%}">
  <link href="{% static 'assests2/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'assests2/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{% static 'assests2/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
  <link href="{% static 'assests2/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
  <link href="{% static 'assests2/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.5.2/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assests2/css/style.css'%}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio
  * Updated: Jul 27 2023 with Bootstrap v5.3.1
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <style>
      /* Additional custom styles for RTL layout */
      body {
            font-family: 'Tajawal', Arial, sans-serif; /* Use an Arabic font if available */
        }
        #header{
          background: #198754;
        }
        #footer{
           background: #198754;;
        }
        .list:hover{
          background-color: #3ab67c;
          width: 300px;
        }
        #list1{
          background-color: #3ab67c;
          width: 300px;
        }
        .list a{
          font-weight: bold;
          font-size: 16px;
        }
        .nav-menu a:hover i, .nav-menu .active i, .nav-menu .active:focus i, .nav-menu li:hover>a i {
          color: white;
        }
        .nav-menu a, .nav-menu a:focus {
          color: rgb(211, 206, 206);
        }
        #header .profile img {
          border: 4px solid white;
          width: 120px;
          height: 120px;
          padding: 2px;
        }
        #header{
          box-shadow: none;
        }
       
  </style>
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="{% static 'assests2/img/pf.jpg'%}" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">إدارة الملكية </a></h1>
        <h1 class="text-light"><a href="index.html">العقارية</a></h1>

        
       
      </div>

      <nav id="navbar" class="nav-menu navbar">
        
        <ul>
          <li class="list" id="list1"><a href="/get_dash/" class="nav-link scrollto active"><i class="bx bx-user"></i> <span>الموضفين</span></a></li>
          <!-- <li class="list" id="list2"><a href="/get_dashtitres/" class="nav-link scrollto "><i class="bx bx-home"></i> <span>الرسوم العقارية</span></a></li> -->
          <li class="list" id="list2"><a href="/get_list_gouv/" class="nav-link scrollto "><i class="bx bx-home"></i> <span> إدارة الرسوم العقارية</span></a></li>
          <!-- <li class="list" id="list3"><a href="/get_stat/" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>الإحصائيات</span></a></li> -->
          <li class="list" id="list4"><a href="/changepass/" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>تغيير كلمة العبور</span></a></li>
          <li class="list" id="list4"><a href="/login/" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>خروج</span></a></li>


        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->


  <main id="main">

    <!-- ======= About Section ======= -->
    <div class="container mt-5">
 
    <section id="about" class="about">
      <div id="msg"></div>
      <div class="container">

        <div class="section-title">
          <h2>قائمة الموظفين</h2>
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
            إضافة موظف جديد
        </button>
        <br>
        <br>
        <div class="input-group mb-3">
          <input type="text" id="searchInput" class="form-control" placeholder="بحث" style="text-align: right;">
        </div>
        </div>

    
        
        <table class="table">
          <thead>
              <tr>
                  <th scope="col">Actions</th>
                  <th scope="col">active</th>
                  <th scope="col">etat</th>
                  <th scope="col">acategorie</th>

                  <th scope="col">role</th>
                  <th scope="col">UserAuth</th>

              </tr>
          </thead>
          <tbody>
              {% for user in selected_users %}
              <tr>
                <td>
                  <button class="btn btn-danger" onclick="confirmDelete(this, '{{ user.0 }}')">حذف</button>
                  <button class="btn btn-primary update_user" data-bs-toggle="modal" data-bs-target="#myModal2" data-idemp = '{{ user.0 }}' id="view-details-btn">تحديث</button>
                </td>
                  <!-- <td><p>{{ user.0}}</p></td> -->
                  <!-- <td>{{ user.2 }}</td> -->
                  <td>{{ user.4 }}</td>

                  <td>{{ user.6 }}</td>
                  <td>{{ user.3 }}</td>
                  <!-- <td>{{ user.5 }}</td> -->
                  <td>{{user.7}}</td>

                  <td><p>{{ user.1 }}</p></td>

                  
              </tr>
              {% endfor %}
          </tbody>
      </table>
      
          <nav aria-label="Pagination">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">السابق</a>
                </li>
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">التالي</a>
                </li>
            </ul>
        </nav>
    </div>
      </div>

      </div>
    </section><!-- End About Section -->

 

    <!-- ======= Services Section ======= -->
    
<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
      <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
              <h4 class="modal-title">إضافة مستخدم جديد</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
              <form>
              
                  <div class="form-group">
                      <input type="text" class="form-control" id="username" placeholder="إسم المستخدم">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" id="password" placeholder="كلمة العبور">
                  </div>
                  <div class="form-group">
                      <input type="number" class="form-control" id="type" placeholder="النوع">
                  </div>
                  <div class="form-group">
                      <input type="number" class="form-control" id="status" placeholder="نشط">
                  </div>

                  <div class="form-group">
                    <label for="address"></label>
                    <input type="text" class="form-control" id="address" placeholder="العنوان">
                </div>
                <div class="form-group">
                  <label for="status"></label>
                  <input type="number" class="form-control" id="etat" placeholder="الحالة">
              </div>
                  <div class="form-group">
                      <label for="role"></label>
                      <input type="number" class="form-control" id="role" placeholder="الدور">
                  </div>
                
              </form>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">إغلاق</button>
              <button type="button" class="btn btn-primary" id="addEmpForm">حفظ</button>
            </div>
            <div id="msg2"></div>
      </div>
  </div>
</div>


<div class="modal fade" id="myModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal Title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <!-- Form fields or content for the modal body -->
              <form id="userForm">
              
                <div class="form-group">
                    <input type="text" class="form-control" id="username1" placeholder="إسم المستخدم">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="password1" placeholder="كلمة العبور" required>
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" id="type1" placeholder="النوع">
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" id="status1" placeholder="نشط">
                </div>

                <div class="form-group">
                  <label for="address"></label>
                  <input type="text" class="form-control" id="address1" placeholder="العنوان">
              </div>
              <div class="form-group">
                <label for="status"></label>
                <input type="number" class="form-control" id="etat1" placeholder="الحالة">
            </div>
                <div class="form-group">
                    <label for="role"></label>
                    <input type="number" class="form-control" id="role1" placeholder="الدور">
                </div>
              
            </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">غلق</button>
              <button type="button" class="btn btn-primary" onclick="addUser()" id="upuser">تحديث </button>
          </div>
      </div>
  </div>
</div>
<div id="alert-message" class="alert alert-dismissible fade show" role="alert" style="display: none;">
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  <span id="alert-text"></span>
</div>

<!-- Link to Bootstrap JS (including Popper.js) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>










  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">

      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version>. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assests2/vendor/purecounter/purecounter_vanilla.js'%}"></script>
  <script src="{% static 'assests2/vendor/aos/aos.js'%}"></script>
  <script src="{% static 'assests2/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'assests2/vendor/glightbox/js/glightbox.min.js'%}"></script>
  <script src="{% static 'assests2/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
  <script src="{% static 'assests2/vendor/swiper/swiper-bundle.min.js'%}"></script>
  <script src="{% static 'assests2/vendor/typed.js/typed.umd.js'%}"></script>
  <script src="{% static 'assests2/vendor/waypoints/noframework.waypoints.js'%}"></script>
  <script src="{% static 'assests2/vendor/php-email-form/validate.js'%}"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!-- Template Main JS File -->
  <script src="{% static 'assests2/js/main.js'%}"></script>
<!-- ... your existing HTML code ... -->

<!-- ... your existing HTML code ... -->

<script>
  function confirmDelete(button, userId) {
    var row = button.parentNode.parentNode;
    var shouldDelete = confirm("هل أنت متأكد من حذف السجل رقم " + userId + "؟");
    if (shouldDelete) {
        // Send a DELETE request to the delete endpoint using AJAX
        $.ajax({
            url: `/delete_from_tuser/${userId}/`, // URL to the delete endpoint
            type: 'DELETE',
            headers: {
                "X-CSRFToken": "{{ csrf_token }}"
            },
            success: function(data) {
                // Rest of your code...
                console.log('Deleted with success');
                row.style.display = "none";  // Hide the row (you can also remove it from the DOM)
                $("#msg").html('<div class="alert alert-success">تم حذف السجل بنجاح</div>');
                setTimeout(function() {
                    $("#msg").empty();
                }, 1200);

            },
            error: function(error) {
                console.error('Error:', error.responseJSON);
                $("#msg").html('<div class="alert alert-danger">حدث خطأ أثناء الحذف</div>');
                setTimeout(function() {
                    $("#msg").empty();
                }, 1200);

            }
        });
    }
}


$(document).ready(function() {
    $('#addEmpForm').click(function(event) {
        event.preventDefault();
        var username = $('#username').val();
        var password = $('#password').val();
        var type = $('#type').val();
        var status = $('#status').val();
        var address = $('#address').val();
        var etat = $('#etat').val();  // Fixed the ID to "etat"
        var role = $('#role').val();

        var formData = {
            username: username,
            password: password,
            type: type,
            status: status,
            address: address,
            etat: etat,
            role: role,
        }

        $.ajax({
            url: '/add_new_user/',
            type: 'POST',
            data: formData,
            headers: {
                "X-CSRFToken": "{{ csrf_token }}"
            },
            dataType: 'json',
            success: function(data) {
                if (data.res === '1') {
                    $("#msg2").html('<div class="alert alert-success">تمت إضافة الموظف بنجاح.</div>');

                    // Add a new row to the table
                    var newRow = '<tr>' +
                        '<td>' +
                        '<button class="btn btn-danger" onclick="confirmDelete(this, \'' + username + '\')">حذف</button>' +
                        '<button class="btn btn-primary">تحديث</button>' +
                        '</td>' +
                        '<td>' + status + '</td>' +
                        '<td>' + etat + '</td>' +
                        '<td>' + type + '</td>' +
                        '<td>' + role + '</td>' +
                        '<td>' + username + '</td>' +
                        '</tr>';

                    $('table tbody').append(newRow);

                    setTimeout(function() {
                        $("#msg2").empty();
                    }, 2000);
                } else {
                    $("#msg2").html('<div class="alert alert-danger">حدث خطأ أثناء إضافة الموظف.</div>');
                    setTimeout(function() {
                        $("#msg2").empty();
                    }, 2000);
                }
            },
            error: function(error) {
                console.error('Error:', error);
                $("#msg").html('<div class="alert alert-danger">حدث خطأ أثناء إضافة الموظف.</div>');
                setTimeout(function() {
                    $("#msg").empty();
                }, 2000);
            }
        });
    });
});

$(document).ready(function() {
    // Click event for the "View Details" button
    $(".update_user").click(function() {
      var idemp = $(this).data("idemp"); // Get the idemp from the data attribute
      console.log('idemp=' + idemp);
      $.ajax({
        url: '/get_user_details/', // URL of the get_user_details endpoint
        type: 'GET',
        data: { 'idemp': idemp }, // Pass the idemp as a GET parameter
        dataType: 'json', // Change to JSON data type
        success: function(data) {
          if (data.res === '1') {
            // Update the user details container with the fetched user data
            $("#username1").val(data.user_data[1]);
            //$("#upuser").attr("data-idemp", data.user_data[0]);
            $("#type1").val(data.user_data[3]);
            $("#status1").val(data.user_data[4]);
            $("#address1").val(data.user_data[5]);
            $("#etat1").val(data.user_data[6]);
            $("#role1").val(data.user_data[7]);
            
          } else {
            // Handle the case where the user data is not found
            console.log('User data not found');
          }
        },
        error: function(error) {
          console.error('Error:', error);
        }
      });
    });
});



$(document).ready(function() {
    // Handle form submission
    $("#upuser").click(function(event) {
        event.preventDefault();

        // Get form data
        var formData = {
            idemp : 22 , 
            username1: $('#username1').val(),
            password1: $('#password1').val(),
            type1: $('#type1').val(),
            status1: $('#status1').val(),
            address1: $('#address1').val(),
            etat1: $('#etat1').val(),
            role1: $('#role1').val()
        };

        // Send a POST request to the Django view
        $.ajax({
            url: '/update_user_by_idemp/', // URL of the update_user endpoint
            type: 'POST',
            data: formData, // Send the form data
            headers: {  
                        "X-CSRFToken": "{{ csrf_token }}"
                    },
            dataType: 'json',
            success: function(data) {
              if (data.res === '1') {
  // Handle success
  $("#alert-message").removeClass("alert-danger").addClass("alert-success");
  $("#alert-text").text("User updated with success");
} else {
  // Handle failure
  $("#alert-message").removeClass("alert-success").addClass("alert-danger");
  $("#alert-text").text("User update failed.");
}

$("#alert-message").fadeIn();

            },
            error: function(error) {
                console.error('Error:', error);
                // Handle error
                alert("User update failed.");
            }
        });
    });
});

$(".btn-close").click(function() {
  $("#alert-message").fadeOut();
});

// Search user 


$(document).ready(function() {
  $("#searchInput").on("keyup", function() {
    var searchText = $(this).val().toLowerCase();
    $("table tbody tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(searchText) > -1);
    });
  });
});

</script>

<!-- Example button to trigger the AJAX request -->

<!-- Container to display the fetched user details -->  
<div id="user-details-container"></div>






</script>
  
 
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- Include jQuery library -->

</body>

</html>