{% load static%}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Homepage</title>
        <style>
        
            html, body {
                height: 100%;
            }
            .container-fluid {
                height: 95%;
                position: absolute;
                bottom: 0px;
                left: 0px;
                margin: 0px;

            }
            .container-fluid .row .col{
                padding-top: 10px;
            }
            .row {
                height: 100%;
            }
            .col {
                height: 100%;
            }
            .create_space{
                gap: 10px;
            }
            .cntr1{
                margin-top: 10px;
            }
            .navbar{
                height: 60px ; 
            }
          .navbar .container-fluid{
            height: 100%;
            padding-top:15px;

            
          }   
          .navbar .container-fluid >ul {
            display: flex;
            gap: 10px;
            position: absolute;
            right: 10px;
          }   
          .navbar .container-fluid >ul >li {
            list-style: none;
            background-color: #04AA6D!important;
            padding: 10px;
            border-radius: 5px;
        
          }
          .navbar .container-fluid >ul >li:hover{
            transform: scale(1.1);
          }
          .up{
            
            background-color: #04AA6D!important;
            padding: 10px;
            border-radius: 5px;
            font-weight: bold;
            cursor: pointer;
            transition: .1s;
            
          }
          .btn-sucess:hover,.btn-danger:hover{
            transform: scale(1.1);
          }
          .up:hover{
            transform: scale(1.1);
          }
          .navbar .container-fluid >ul >li >a{
            text-decoration: none;
            color: white;
            font-size: 14px;

          }
          .btnlock{
            position: absolute;
            left: 10px;
            top: 10px;
          }
           .pages{
            width: 20%;
            position: relative;
            left: 33%;
           
           }
           .pages >ul{
            display: flex;
            justify-content: center;
            align-items: center;
           
            gap: 10px;

           }
           .pages >ul >li{
            list-style: none;
            color: white;
           }

           .grid-container {

  display: grid;
  grid-template-columns: 5% 75% auto;
  gap: 2px;
  padding: 10px;
  position: relative;
  top: 60px;
  
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: px;
  height: 89vh;
  border: 1px solid black;

}
.grid-container > div >ul >li{
    list-style: none;
    margin: 10px;
}
.grid-container > div >ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
   
}
.table tr td{
    padding: 2px ;
   
}
.table tr td span{
    font-size: 15px ;
   
}
.tab1{
    border: 1px solid black;
    width: 95%;
    height: 20%;
    position: relative;
    top: 5px;
    left: 8px;

}
.tab2{
    position: relative;
    top: 15px;
}

.tab3 {
    position: relative;
    top: 15px;
    padding: 5px;
}


.add{
    width: 80%;
    transform: translate(13%);
    font-size: 15px;
    padding: 5px;
    color: white;
    background-color: #212529;
}
.loading{
    color: green;
    text-align: center;
    font-size: 30px;
}

#checkTitleButton:hover{
    transform: scale(1.1);
}
#bt{
    transform: scale(1.1);
}
#images_db {
    overflow: hidden;
}
#images_db >img{
    width: 100%;
    height: 80vh;
}
#over{
    overflow: scroll;
}

.zoom-1 {
    transform: scale(1.1);
}

.zoom-2 {
    transform: scale(1.2);
}

/* Add more classes for different zoom levels */


        </style>
        <script>

        </script>
    </head>
    <body>
        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Navbar Example</title>
            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


        </head>
        <body>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                <div class="container-fluid">
                    <a href="/login" class="btn btn-danger btnlock">    <i class="fas fa-lock"></i>
                    </a>
                    <div class="pages">
                        <ul>
                            <li class="up"><i class="fas fa-long-arrow-alt-left"></i></li>
                            <li>الصفحة</li>
                            <li class="up"><i class="fas fa-long-arrow-alt-right"></i></li>
                        </ul>
                    </div>
                    <ul>
                        <li><a href=""><i class="fas fa-lock"></i></a></li>
                        <li><a href="">    <i class="fas fa-trash"></i>
                        </a></li>
                        <li><a href="">    <i class="fas fa-redo"></i></a></li>
                        <li> <a href="">المصادقة على الرسم العقاري</a> </li>

                    </ul>
                </div>
            </nav>
            <div class="grid-container">
                <div >
                    <ul class="div-activate" >
                    <li class="btn btn-success">
                    <i class="far fa-copy " data-bs-toggle="modal" data-bs-target="#myModal2" ></i> 


                    </a></li>
                    <li><a href="" class="btn btn-success"><i class="fas fa-pen"></i>

                    </a></li>
                    <li onclick="zoom()"><a  class="btn btn-success"><i class="fas fa-search-plus"></i>

                    </a></li>
                    <li onclick="zoomOut()"><a  class="btn btn-success"><i class="fas fa-search-minus"></i>

                    </a></li>
                    <li><a href="" class="btn btn-success"><i class="fas fa-download"></i>

                    </a></li>

                 
                   
                    <li><a href="" class="btn btn-success"><i class="fas fa-trash"></i></a></li>
                    <li>  <a class="btn btn-success" href=""> <i class="fas fa-redo"></i></a> </li>              
                  </ul>
                </div>
                <div id="over" style="padding: 10px;">

                    <h5 id="msg" class="mt-2"></h5>
                    <h1>{{response_data}}</h1>
                    <div id="images_db" >

                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="myModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">تحميل الوثائق</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form enctype="multipart/form-data" id="uploadForm">
                                        <div class="mb-3">
                                            <label for="fileInput" class="form-label">إدراج أكثر من وثيقة</label>
                                            <input type="file" class="form-control" id="fileInput" name="files" multiple>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">غلق</button>
                                            <button type="button" class="btn btn-primary" id="uploadButton">تحميل</button>
                                        </div>
                                        <div id="msg2"></div>
                                    </form>
                                </div>
                              
                            </div>
                        </div>
                    </div>
                    <h1>{{response_data}}</h1>



                </div>
                <div class="droit_div">
                    <!-- <a href="#img6">go to link 6 </a> -->
                    <a href="" class="text-center btn btn-info">يومية الترسيم</a>
                    
                        <table style="font-size: 12px;" class="tab1">
                            <tr>
                                <td ><a id="checkTitleButton" class="btn btn-success" style="padding: 5px 10px; font-size: 10px;"><i class="fas fa-search" ></i>
                                </a></td>
                                <td><input type="text" class="form-control" style="font-size: 10px;" name="numtitre" id="numtitre"></td>
                                <td><span style="font-size: 10px;">الرسم العقاري</span></td>
                            </tr>
                            <tr>
                                <td><a href=""  style="padding: 5px 10px; font-size: 10px;"></a></td>
                                <td>
                                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="gouvtitre" id="gouvtitre">
                                        {% for item in gouv_list %}
                                            <option value="{{ item.0 }}">{{ item.1 }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td><span style="font-size: 10px;">الولاية</span></td>
                            </tr>
                            <tr>
                                <td><a id="bt" href="" class="btn btn-success" style="padding: 5px 10px; font-size: 10px;" data-bs-toggle="modal" data-bs-target="#myModal">+</a></td>
                                <td>
                                    
                                        <select class="form -select form-select-sm" aria-label=".form-select-sm example" name="doubtitre" id="doubtitre">
                                                <option value="0"></option>
                                                <option value="1">مكرر</option>
                                                <option value="2">مثلث</option>
    
                                        </select>
                                
                                </td>
                                <td><span style="font-size: 10px;">مكرر </span></td>
                            </tr>
                           
                           
                        </table>
                  
                    <br>
                    <div class="add"><span>الذهاب مباشرة الى الصفحة عدد</span><input type="number" class="form-control"id="go" >
                        <button id="goToImageBtn" class="btn btn-primary">Go to Image</button>
                    </div>
                    <div class="mytable">
                        <table style="font-size: 12px;" class="tab1 tab3">
                            <tr>
                                
                                <th><span style="font-size: 10px;"><select class="form-select form-select-sm" aria-label=".form-select-sm example">
                                    {% for item in gouv_list %}
                                    <option name="gouvtitre" value="{{ item.0 }}">{{ item.1 }}</option>
                                    {% endfor %}
                                </select></span></th>
    
                                <th><span style="font-size: 10px;"> الولاية</span></th>
    
                                <th><span style="font-size: 10px;"><input type="text" style="width: 80%;"></span></th>
                                <th><span style="font-size: 10px;">الرسم العقاري</span></th>
    
                                
                            </tr>
    
                            <tr>
                                
                                <th><span style="font-size: 10px;"><input type="number" style="width: 80%;"></span></th>
    
                                <th><span style="font-size: 10px;"> صفحة عدد</span></th>
    
                                <th><span style="font-size: 10px;"><input type="text" style="width: 80%;"></span></th>
                                <th><span style="font-size: 10px;">عدد الصفحات </span></th>
    
                                
                            </tr>
                         
    
                            <tr>
                                
                                <th><span style="font-size: 10px;"></span></th>
    
                                <th><span style="font-size: 10px;"> </span></th>
    
                                <th><span style="font-size: 10px;"><input type="date" style="width: 80%;"></span></th>
                                <th><span style="font-size: 10px;"><span>تاريخ التخزين</span></th>
    
                                
                            </tr>
                            <tr>
                                
                                <th><span style="font-size: 10px;"></span></th>
    
                                <th><span style="font-size: 10px;"> </span></th>
    
                                <th><span style="font-size: 10px;"><input type="text" style="width: 80%;"></span></th>
                                <th ><span style="font-size: 10px;"><span>بيانات الماسحة الضوئية</span></th>
    
                                
                            </tr>
                            <tr>
                                <td>اختيار السكانار</td>
                                <td><input type="checkbox" name="" id=""></td>
    
                                <td>اظهار بيانات السكانار</td>
                                <td><input type="checkbox" name="" id=""></td>
    
                            </tr>
                          
                            
                          
                        </table>
                    </div>
                    
                    <br>
                    <div class="add"><span>اضافة مراجع</span></div>
<!--                     
                    <table style="font-size: 12px; overflow:scroll;" class="tab1 tab3">
                        <tr>
                            
                            <th><span style="font-size: 10px;">ص</span></th>

                            <th><span style="font-size: 10px;"> نوع العملية</span></th>

                            <th><span style="font-size: 10px;">العدد</span></th>
                            <th><span style="font-size: 10px;">التاريخ</span></th>

                            <th><span>المجلد</span></a></th>
                            <th>الايداع</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                        </tr>

                        <tr>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                        </tr>
                     
                        
                        
                      
                    </table> -->
                </div>  
              
              </div>
        
            <!-- Bootstrap JS -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>        </body>
        </html>


<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">إضافة رسم عقاري</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <div class="container mt-5">
                <form >   

             
                    <div class="mb-3">
                        <label for="numtitre" class="form-label">الولاية</label>
                        <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="gouvtitr" >
                            {% for item in gouv_list %}
                            <option value="{{ item.0 }}">{{ item.1 }}</option>
                            {% endfor %}
                        </select>
                    
                    </div>
                    <div class="mb-3">
                        <div class="mb-3"></div>
                            <select class="form -select form-select-sm" aria-label=".form-select-sm example" name="doubtitr" id="doubtitr">
                                <option value="0"></option>
                                <option value="1">مكرر</option>
                                <option value="2">مثلث</option>

                            </select>
                        </div>
                    </div>
                    <div class="mb-3">

                      <div class="mb-3">
                        <label for="dreg" class="form-label">عدد الصفحات</label>
                        <input type="number" class="form-control" id="nbpage" name="nbpag">
                      </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal" id="addtitle">إضافة</button>
                      </div>
                </form>
          <!-- Modal footer -->
          
<!-- Modal -->




          
          
        </div>
      </div>
    </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
function get_images() {
    // Display a loading indicator while waiting for images
    $("#images_db").html('<div class="alert alert-success"><p class="loading"> ... جاري التحميل </p></div>');
    
    $.ajax({
        type: "GET",
        url: "/display_images/",
        success: function(data) {
    console.log(data); // Output the received data to the console
    var msgDiv = $("#msg");
    var myModal2 = $("#myModal2");

    if (data.message === '0') {
        msgDiv.html('<div class="alert alert-warning">No such files here</div>');
    } else if (data.message === '1') {
        msgDiv.html('<div class="alert alert-success">تمت الإضافة بنجاح</div>');
    } else {
        msgDiv.html('');
    }

    myModal2.modal('hide'); // Hide the modal

    var imagesArray = data.images;
    var imagesContainer = $("#images_db");
    imagesContainer.empty(); // Clear existing images

    // Iterate through the array of image data
    imagesArray.forEach(function(imageData, index) {
        // Create an <img> element and set its src attribute to the image data
        var img = $("<img>").attr("src", "data:image/png;base64," + imageData);

        // Set a unique ID for each image based on the index
        img.attr("id", "img" + (index + 1));
        img.addClass("zoomable");

        // Append the <img> element to the #images_db div
        imagesContainer.append(img);
        img.on("click", function() {
            var imageId = this.id;
            console.log("Clicked on image with ID: " + imageId);
            
            // Remove red border from all images
            $(".zoomable").css("border", "none");
            
            // Add red border to the clicked image
            $(this).css("border", "5px solid green");
        });
    });
},
        error: function(error) {
            console.error("Error:", error);
        }
    });
}






 $(document).ready(function() {
 $('.div-activate').hide();
 $('.pages').hide();

 $('#msg').text("وثائق السجل العقاري");

  $('#checkTitleButton').on('click', function() {
    var numtitre = $('#numtitre').val();
    var gouvtitre = $('#gouvtitre').val();
    var doubtitre = $('#doubtitre').val();

    $.ajax({
      type: 'POST',
      url: '/test_exist_in_tfich/',  // Mettez à jour cette URL avec l'URL réelle
      data: {
        numtitre: numtitre,
        gouvtitre: gouvtitre,
        doubtitre: doubtitre,
      },
      headers: {
        "X-CSRFToken": "{{ csrf_token }}"
      },
      success: function(response) {
        // Display the JSON response on the HTML page
        var responseContainer = $('#responseContainer');
        responseContainer.html(JSON.stringify(response));

        // Contrôler l'affichage du div en fonction de la réponse
        var divToToggle = $('.div-activate');
        var pageToToggle = $('.pages');
        if (response.msg.response_data === '0') {
           
        // Show the message 
          $("#msg").html('<div class="alert alert-danger">الرّجاء التثبت من معلومات البحث</div>');
          divToToggle.hide(); // Masquer le div
          pageToToggle.hide(); // Masquer le div
        } else if (response.msg.response_data === '1') {
         $('#msg').text("");

          divToToggle.show(); // Afficher le div
          pageToToggle.show()
          get_images()
        }
      },
      error: function(xhr, textStatus, errorThrown) {
        // Gérer l'erreur ici
        console.error('Error:', textStatus, errorThrown);
      }
    });
  });
});


$(document).ready(function() {

    $("#uploadButton").on("click", function() {
        var formData = new FormData($("#uploadForm")[0]);

        $.ajax({
            type: "POST",
            url: "/import_files_with_codetitre/",
            data: formData,
            headers: {
                "X-CSRFToken": "{{ csrf_token }}"
            },
            processData: false,
            contentType: false,
            success: function(data) {
                var msgDiv = $("#msg2");
                if (data.message === '1') {
                    msgDiv.html('<div class="alert alert-success">تمت الإضافة بنجاح</div>');             
                } else {
                    msgDiv.html('<div class="alert alert-warning">خطأ في الأضافة</div>');
                }
                
                // Fade in the message with animation
                msgDiv.fadeIn();

                // Automatically fade out and remove the message after 2 seconds
                setTimeout(function() {
                    msgDiv.fadeOut(function() {
                        msgDiv.empty(); // Clear the content after fading out
                    });
                }, 2000); // 2000 milliseconds = 2 seconds
            },
            error: function(error) {
                console.error("Error:", error);
            }
            

        }).then(res=>{

        })
    });

});





$(document).ready(function() {
    $("#addtitle").on("click", function() {
        var gouvtitre = $("select[name='gouvtitr']").val();
        var doubtitre = $("select[name='doubtitr']").val();
        var nbpage = $("input[name='nbpag']").val();

        var postData = {
            'gouvtitre': gouvtitre,
            'doubtitre': doubtitre,
            'nbpage': nbpage
        };

        $.ajax({
            type: "POST",
            url: "/ajouter_titre/",
            data: postData,
            headers: {
                "X-CSRFToken": "{{ csrf_token }}"
            },
            success: function(data) {
                var msgDiv = $("#msg");
                if (data.msg === '1') {
                    msgDiv.html('<div class="alert alert-success">تمت الإضافة بنجاح</div>');
                } else if (data.msg === '0') {
                    msgDiv.html('<div class="alert alert-danger">الرّسم العقاري غير موجود في قاعدة البيانات الأصلية</div>');
                } else {
                    msgDiv.html('<div class="alert alert-warning">خطأ في الأضافةe</div>');
                }
                
                // Fade in the message with animation
                msgDiv.fadeIn();

                // Automatically fade out and remove the message after 2 seconds
                setTimeout(function() {
                    msgDiv.fadeOut(function() {
                        msgDiv.empty(); // Clear the content after fading out
                    });
                }, 2000); // 2000 milliseconds = 2 seconds
            },
            error: function(error) {
                console.error("Error:", error);
            }

        });
    });
});


$("#goToImageBtn").on("click", function() {
    var go = $("#go").val();
    var target = "#img"+go
    window.location.href = target;
});


var zoomLevel = 0;

function zoom() {
    zoomLevel++;
    var zoomClass = "zoom-" + zoomLevel;
    $(".zoomable").addClass(zoomClass);
}

function zoomOut() {
    if (zoomLevel > 0) {
        var zoomClass = "zoom-" + zoomLevel;
        $(".zoomable").removeClass(zoomClass);
        zoomLevel--;
    }
}




</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="{% static 'js/test.js'%}"></script>


    </body>
</html>