
{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Impact Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png'%}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png'%}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css '%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css '%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css '%}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/main.css '%}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Impact
  * Updated: May 30 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/impact-bootstrap-business-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <style>
    .about-text{

            direction: rtl; /* Right-to-left direction for Arabic text */
            text-align: justify; /* Justify the text */

    }

    body {
            font-family: Arial, sans-serif;
            direction: rtl;
        }
        h2 {
            text-align: center;
            /* Add any other desired styles for the heading */
        }
   
        li {
            list-style-type: none;
            padding: 5px;
            /* Add any other desired styles for list items */
        }
        .li-style{
          background-color: #008374;
          margin: 10px;
          color: white;
          font-weight: bold;
          transition: .2s;
          cursor: pointer;
          padding: 10px;
        }
        .li-style:hover{
          transform: scale(1.1);
        }
        .content{
          line-height: 30px;
          font-size: 20px;
        }
      
        .cadre-img{
            width: 100%;
            height: 100%;
            position: relative;
            top: -50px;
        }
        /* style the erro message*/
        .error-container {
        background-color: #ffdddd;
        border: 1px solid #f44336;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
    }

    .error-message {
        color: #f44336;
        font-weight: bold;
    }
  </style>
</head>

<body>



  <header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="/index" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>ادارة الملكية العقارية<span>.</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="#contact">الاستقبال</a></li>
          <li><a href="blog.html">التعريف بنا </a></li>
          <li><a href="#team">الخدمات</a></li>
          <li><a href="#portfolio">الإتصال بالديوان الوطني للملكية العقارية</a></li>
          <li><a href="#services">التواصل معنا</a></li>
        
        </ul>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
     
        <div class="col-lg-6 order-1 order-lg-2">
          <img src="assets/img/hero-img.svg" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100">
        </div>
      </div>
    </div>


    </div>
  </section>
  <!-- End Hero Section -->

  <main id="main">

    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>تسجيل الدخول</h2>
        </div>

        <div class="row gx-lg-0 gy-4">

          <div class="col-lg-6 img-login">

            <img class="cadre-img" src="{% static '/assets/img/5101874.jpg '%}" alt="">
          </div>

          <div class="col-lg-6">
            <form method="POST" action="/users/login-user/">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">الإسم </label>
                    <input type="text" class="form-control txt" id="username" name="userauth" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">كلمة العبور</label>
                    <input type="password" class="form-control txt" id="password" name="passwd" required>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">موافق</button>
                    <button type="reset" class="btn btn-warning">إلغاء</button>
                </div>
                <br>
                <div class="text-center">
                    <a class="btn btn-success" href="/changepass">تغيير كلمة العبور</a>
                </div>
                <br>
                {% if error %}
                <div class="error-container">
                    <div class="error-message">{{ error }}</div>
                </div>
            {% endif %}
                
            </form>
          
          </div><!-- End Contact Form -->
           <!-- Your login page content here -->
   
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <span>ادارة الملكية العقارية</span>
          </a>
          <div class="social-links d-flex mt-4">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>روابط</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Terms of service</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>خدمات</h4>
          <ul>
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Product Management</a></li>
            <li><a href="#">Marketing</a></li>
            <li><a href="#">Graphic Design</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>إتصل بنا</h4>
          <p>
            53 شارع الحرية البلفدير تونس<br>
            <strong>الهاتف:</strong> 71.831.700 - 71.832.358 - 71.832.248
            <br>
            <strong>البريد الإلكتروني:</strong> contact@cpf.gov.tn

            <br>
          </p>

        </div>

      </div>
    </div>

    <div class="container mt-4">
      <div class="copyright">
       <strong><span></span></strong> حقوق الطبع محفوظة 2023

      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/impact-bootstrap-business-website-template/ -->
        الديوان الوطني للملكية العقارية - الإدارة العامة للتنظيم والأساليب والإعلامية والإدارة الإلكترونية
    </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js '%}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js '%}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js '%}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js '%}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js '%}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js '%}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js '%}"></script>

</body>

</html>